$neg: -1;
$grid-breakpoint: 1230px;
$total-cols: 12;
$gutter: 30px;

@media screen and (min-width: 1440px) {
    $grid-breakpoint: 1230px;
    $total-cols: 12;
    $gutter: 30px;
}

@media screen and (min-width: 375px) and (max-width: 1439px) {
    $grid-breakpoint: 285px;
    $total-cols: 3;
    $gutter: 30px;
}

@function -width($cols) {
    @return calc(($grid-breakpoint + $gutter) / $total-cols * $cols - $gutter);
}

@function -margin($cols) {
    @return calc(($grid-breakpoint + $gutter) / $total-cols * $cols + $gutter);
}

@function -cols($cols) {
    @return calc(($grid-breakpoint + $gutter) / $total-cols * $cols);
}